@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* roots */
:root {
  --clr-Purple-100: #dacffc;
  --clr-Purple-500: hsl(256, 67%, 59%);
  --clr-Yellow-100: hsl(31, 66%, 93%);
  --clr-Yellow-500: hsl(39, 100%, 71%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-Black: hsl(0, 0%, 7%);
  --ff-main: "DM Sans", serif;
  --fs-body: 18px;
  --fs-heading: 32px;
  --fw-400: 400;
  --fw-500: 500;
}

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 80%;
  display: block;
}

body {
  font-family: var(--ff-main);
  font-weight: var(--fw-400);
  line-height: 1.1;
  color: var(--clr-Black);
  background: #f9f9f9;
}

/* UI COMPONENTS */
.create {
  background-color: var(--clr-Yellow-100);
}

.content {
  background-color: var(--clr-Yellow-500);
}

.media {
  background-color: var(--clr-Purple-500);
}

.manage {
  background-color: var(--clr-White);
}

.posting {
  background-color: var(--clr-Yellow-500);
}

.schedule {
  background-color: var(--clr-Purple-100);
}

.audience {
  background-color: var(--clr-White);
}

.followers {
  background-color: var(--clr-Purple-500);
}

/* LAYOUT STYLES */
.bento-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 13rem 13rem 13rem;
}

.bento-grid-container>*,
.inside-element {
  display: grid;
}