@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* roots */
:root {
  --clr-Purple-100: #dacffc;
  --clr-Purple-500: hsl(256, 67%, 59%);
  --clr-Yellow-100: hsl(31, 66%, 93%);
  --clr-Yellow-500: hsl(39, 100%, 71%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-Black: hsl(0, 0%, 7%);
  --ff-main: "DM Sans", serif;
  --fs-body: 18px;
  --fs-heading: 32px;
  --fw-400: 400;
  --fw-500: 500;
}

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 80%;
  display: block;
}

body {
  font-family: var(--ff-main);
  font-weight: var(--fw-400);
  line-height: 1.1;
  color: var(--clr-Black);
  background: #f9f9f9;
  padding: 2rem 1rem;
}

/* UI COMPONENTS */
.create {
  background-color: var(--clr-Yellow-100);
}

.content {
  background-color: var(--clr-Yellow-500);
}

.media {
  background-color: var(--clr-Purple-500);
}

.manage {
  background-color: var(--clr-White);
}

.posting {
  background-color: var(--clr-Yellow-500);
}

.schedule {
  background-color: var(--clr-Purple-100);
}

.audience {
  background-color: var(--clr-White);
}

.followers {
  background-color: var(--clr-Purple-500);
}

/* LAYOUT STYLES */
.bento-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 13rem 13rem 13rem;
  grid-template-areas:
    'column1 column2 column3'
    'column1 column2 column3'
    'column1 column4 column4'
  ;
  gap: 1rem;
  max-width: 60rem;
  margin-inline: auto;
}

.bento-grid-container>*,
.inside-element {
  display: grid;
  gap: 1rem;
}

.inside-element {
  grid-template-columns: 1fr 1fr;
}

.inside-element:nth-child(1) {
  grid-template-columns: .95fr 2fr;
}


.column-one {
  grid-area: column1;
}

.column-one {
  grid-area: column1;
}

.column-two {
  grid-area: column2;
}

.column-three {
  grid-area: column3;
}

.column-four {
  grid-area: column4;
}


/* MEDIA QUERIES */
@media screen and (max-width: 950px) {
  .bento-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13rem 13rem 13rem 13rem;
    grid-template-areas:
      'column2 column3'
      'column2 column3'
      'column4 column4'
      'column1 column1'
    ;
  }

  .column-one {
    grid-template-columns: 1fr 1fr;
  }

}


@media screen and (max-width: 650px) {
  .bento-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'column2 '
      'column3 '
      'column4 '
      'column1 '
    ;
  }


  .inside-element,
  .inside-element:nth-child(1),
  .column-one {
    grid-template-columns: 1fr;
  }

}